<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/header.css">
        <link rel="stylesheet" href="/assets/css/FormDisplay.css">
    </head>
    <body>
        <header>
            <a href="/promo" class="lien">Promo</a>
            <a href="/change" class="lien">Change</a>
            <a href="/user/form" class="lien">Formulaire</a>
            <a href="/user/display" class="lien">Form Display</a>
        </header>

        <main>
            <h1>{{.Nom}} {{.Prenom}}</h1>
            <div>
                <p>{{.dateNaissance}}</p>
                <p>{{.Sexe}}</p>
            </div>
        </main>
        
        
        <script src="" async defer></script>
    </body>
</html>