body {
    background-color: antiquewhite;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    border: 2px solid black;
    border-radius: 10px;
    background-color: aliceblue;
}