body {
    background-color: rgb(234, 230, 225);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    position: absolute;
    top: 10%;
    width: 50%;
    background-color: aliceblue;
}

.InfoClass {
    background-color: aqua;
    width: 100%;
}

.TopInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TopInfo > h1 {
    font-size: 3em;
    color: rgb(0, 0, 0);
}

.BotInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4em;
    color: rgb(0, 0, 0);
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
    padding: 10px;
}

.First {
    background-color: antiquewhite;
}